In [1]:
import pandas as pd

In [2]:
fed_prison_df = pd.read_csv("total_fed_prison_deaths.csv")

In [3]:
fed_prison_df.head()

,Year,Total deaths,Illness,AIDS-related,Suicide,Accident,Homicide,Other/unknown
0,2015,464,407,1,21,16,16,3
1,2016,395,343,1,19,14,15,3
2,2017,388,323,6,24,8,10,17
3,2018,383,292,0,29,14,12,36

In [4]:
fed_prison_df["Illness"].value_counts()

407    1
343    1
323    1
292    1
Name: Illness, dtype: int64

In [5]:
fed_prison_df["Illness"].sum()

1365

In [6]:
fed_prison_df["Illness"].median()

333.0

In [7]:
fed_prison_df["Illness"].min()

292

In [13]:
rate_state_dc_df = pd.read_csv("state_death_cause_rate.csv")

In [14]:
rate_state_dc_df.head()

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
0,Alabama,352,81,89,30,8,24,63,9,3,4,10
1,Alaska,194,46,31,19,1,4,26,37,11,10,4
2,Arizona,237,56,62,30,5,13,30,17,11,2,8
3,Arkansas,363,122,97,26,10,18,37,21,17,6,6
4,California,244,42,60,24,4,17,50,21,12,2,10

In [17]:
rate_state_dc_df["Heart disease"].max()

165

In [20]:
rate_state_dc_df["Heart disease"].value_counts()

56     6
68     3
66     3
79     2
46     2
73     2
49     2
53     2
42     2
124    1
50     1
74     1
119    1
76     1
94     1
88     1
70     1
16     1
156    1
60     1
81     1
92     1
131    1
30     1
65     1
62     1
165    1
125    1
40     1
31     1
67     1
58     1
37     1
122    1
103    1
Name: Heart disease, dtype: int64

In [19]:
rate_state_dc_df["Heart disease"].median()

66.0

In [21]:
rate_state_dc_df["Liver disease"].median()

23.5

In [22]:
rate_state_dc_df["Liver disease"].max()

48

In [23]:
rate_state_dc_df

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
0,Alabama,352,81,89,30,8,24,63,9,3,4,10
1,Alaska,194,46,31,19,1,4,26,37,11,10,4
2,Arizona,237,56,62,30,5,13,30,17,11,2,8
3,Arkansas,363,122,97,26,10,18,37,21,17,6,6
4,California,244,42,60,24,4,17,50,21,12,2,10
5,Colorado,217,42,44,35,0,16,39,20,9,4,8
6,Connecticut,151,37,21,21,4,9,31,24,1,2,2
7,Delaware,230,58,53,21,17,12,28,27,5,1,2
8,Florida,313,67,92,24,18,21,55,10,10,4,8
9,Georgia,237,79,60,13,9,19,30,13,1,2,8
10,Hawaii,169,31,44,18,4,7,24,29,4,1,5
11,Idaho,215,56,53,19,3,11,31,28,4,4,3
12,Illinois,195,56,62,10,8,11,26,16,2,2,2
13,Indiana,255,68,69,22,5,17,37,17,9,4,6
14,Iowa,183,40,63,11,3,18,22,20,2,1,1
15,Kansas,264,73,76,30,1,18,39,16,4,5,2
16,Kentucky,373,125,118,27,13,19,55,9,1,2,3
17,Louisiana,535,165,162,41,32,25,68,12,1,6,3
18,Maine,198,62,48,16,3,16,21,11,5,0,13
19,Maryland,260,65,55,21,27,11,29,20,16,2,12
20,Massachusetts,336,92,92,34,5,15,49,31,5,5,2
21,Michigan,265,79,90,21,5,15,27,16,4,3,3
22,Minnesota,148,30,44,20,1,6,27,16,3,1,1
23,Mississippi,359,131,90,17,9,18,49,17,1,5,10
24,Missouri,266,73,81,29,5,15,39,13,4,1,4
25,Montana,292,56,80,45,4,18,45,33,5,2,4
26,Nebraska,234,53,53,30,5,11,26,22,6,4,7
27,Nevada,282,68,64,19,4,12,58,18,3,2,5
28,New Hampshire,255,56,99,24,6,9,26,26,11,0,0
29,New Jersey,234,74,55,14,20,14,31,12,5,2,3
30,New Mexico,268,60,69,48,3,14,32,24,6,1,9
31,New York,250,66,72,19,21,11,22,22,5,3,3
32,North Carolina,242,66,79,20,11,16,32,10,1,4,2
33,North Dakota,79,16,20,8,4,0,12,16,4,0,0
34,Ohio,245,70,84,13,4,18,34,14,2,1,3
35,Oklahoma,336,88,85,38,7,19,45,20,9,7,14
36,Oregon,248,53,76,36,3,12,33,15,5,3,4
37,Pennsylvania,330,94,95,29,5,21,60,18,3,2,2
38,Rhode Island,192,46,36,5,9,9,15,45,9,5,2
39,South Carolina,315,119,68,21,9,13,49,17,3,2,13
40,South Dakota,209,49,46,29,2,21,21,28,2,7,5
41,Tennessee,408,124,112,42,12,20,55,19,8,4,9
42,Texas,272,68,68,29,6,21,55,18,1,3,3
43,Utah,273,66,58,22,0,11,48,44,6,3,9
44,Vermont,205,50,39,33,9,3,33,30,9,0,0
45,Virginia,286,76,98,28,10,15,37,11,3,2,3
46,Washington,209,49,60,23,3,18,32,14,3,4,3
47,West Virginia,412,156,110,28,7,19,65,11,3,2,7
48,Wisconsin,200,56,66,12,3,16,21,21,2,1,0
49,Wyoming,283,103,46,38,3,22,41,22,5,3,0

In [24]:
rate_state_dc_df.sort_values(by=["Heart disease"], ascending = False).head(15)

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
17,Louisiana,535,165,162,41,32,25,68,12,1,6,3
47,West Virginia,412,156,110,28,7,19,65,11,3,2,7
23,Mississippi,359,131,90,17,9,18,49,17,1,5,10
16,Kentucky,373,125,118,27,13,19,55,9,1,2,3
41,Tennessee,408,124,112,42,12,20,55,19,8,4,9
3,Arkansas,363,122,97,26,10,18,37,21,17,6,6
39,South Carolina,315,119,68,21,9,13,49,17,3,2,13
49,Wyoming,283,103,46,38,3,22,41,22,5,3,0
37,Pennsylvania,330,94,95,29,5,21,60,18,3,2,2
20,Massachusetts,336,92,92,34,5,15,49,31,5,5,2
35,Oklahoma,336,88,85,38,7,19,45,20,9,7,14
0,Alabama,352,81,89,30,8,24,63,9,3,4,10
9,Georgia,237,79,60,13,9,19,30,13,1,2,8
21,Michigan,265,79,90,21,5,15,27,16,4,3,3
45,Virginia,286,76,98,28,10,15,37,11,3,2,3

In [25]:
rate_state_dc_df.sort_values(by=["All causes"], ascending = False)

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
17,Louisiana,535,165,162,41,32,25,68,12,1,6,3
47,West Virginia,412,156,110,28,7,19,65,11,3,2,7
41,Tennessee,408,124,112,42,12,20,55,19,8,4,9
16,Kentucky,373,125,118,27,13,19,55,9,1,2,3
3,Arkansas,363,122,97,26,10,18,37,21,17,6,6
23,Mississippi,359,131,90,17,9,18,49,17,1,5,10
0,Alabama,352,81,89,30,8,24,63,9,3,4,10
35,Oklahoma,336,88,85,38,7,19,45,20,9,7,14
20,Massachusetts,336,92,92,34,5,15,49,31,5,5,2
37,Pennsylvania,330,94,95,29,5,21,60,18,3,2,2
39,South Carolina,315,119,68,21,9,13,49,17,3,2,13
8,Florida,313,67,92,24,18,21,55,10,10,4,8
25,Montana,292,56,80,45,4,18,45,33,5,2,4
45,Virginia,286,76,98,28,10,15,37,11,3,2,3
49,Wyoming,283,103,46,38,3,22,41,22,5,3,0
27,Nevada,282,68,64,19,4,12,58,18,3,2,5
43,Utah,273,66,58,22,0,11,48,44,6,3,9
42,Texas,272,68,68,29,6,21,55,18,1,3,3
30,New Mexico,268,60,69,48,3,14,32,24,6,1,9
24,Missouri,266,73,81,29,5,15,39,13,4,1,4
21,Michigan,265,79,90,21,5,15,27,16,4,3,3
15,Kansas,264,73,76,30,1,18,39,16,4,5,2
19,Maryland,260,65,55,21,27,11,29,20,16,2,12
28,New Hampshire,255,56,99,24,6,9,26,26,11,0,0
13,Indiana,255,68,69,22,5,17,37,17,9,4,6
31,New York,250,66,72,19,21,11,22,22,5,3,3
36,Oregon,248,53,76,36,3,12,33,15,5,3,4
34,Ohio,245,70,84,13,4,18,34,14,2,1,3
4,California,244,42,60,24,4,17,50,21,12,2,10
32,North Carolina,242,66,79,20,11,16,32,10,1,4,2
2,Arizona,237,56,62,30,5,13,30,17,11,2,8
9,Georgia,237,79,60,13,9,19,30,13,1,2,8
29,New Jersey,234,74,55,14,20,14,31,12,5,2,3
26,Nebraska,234,53,53,30,5,11,26,22,6,4,7
7,Delaware,230,58,53,21,17,12,28,27,5,1,2
5,Colorado,217,42,44,35,0,16,39,20,9,4,8
11,Idaho,215,56,53,19,3,11,31,28,4,4,3
46,Washington,209,49,60,23,3,18,32,14,3,4,3
40,South Dakota,209,49,46,29,2,21,21,28,2,7,5
44,Vermont,205,50,39,33,9,3,33,30,9,0,0
48,Wisconsin,200,56,66,12,3,16,21,21,2,1,0
18,Maine,198,62,48,16,3,16,21,11,5,0,13
12,Illinois,195,56,62,10,8,11,26,16,2,2,2
1,Alaska,194,46,31,19,1,4,26,37,11,10,4
38,Rhode Island,192,46,36,5,9,9,15,45,9,5,2
14,Iowa,183,40,63,11,3,18,22,20,2,1,1
10,Hawaii,169,31,44,18,4,7,24,29,4,1,5
6,Connecticut,151,37,21,21,4,9,31,24,1,2,2
22,Minnesota,148,30,44,20,1,6,27,16,3,1,1
33,North Dakota,79,16,20,8,4,0,12,16,4,0,0

In [26]:
state_fed_deaths_df = pd.read_csv("state_fed_deaths.csv")

In [27]:
state_fed_deaths_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    18 non-null     int64
 1   state mortality rate    18 non-null     int64
 2   federal mortality rate  18 non-null     int64
dtypes: int64(3)
memory usage: 560.0 bytes

In [28]:
state_fed_deaths_df.head()

   Year  state mortality rate  federal mortality rate
0  2001                   242                     220
1  2002                   243                     233
2  2003                   257                     228
3  2004                   251                     210
4  2005                   251                     244

In [29]:
state_fed_deaths_df

    Year  state mortality rate  federal mortality rate
0   2001                   242                     220
1   2002                   243                     233
2   2003                   257                     228
3   2004                   251                     210
4   2005                   251                     244
5   2006                   249                     201
6   2007                   258                     222
7   2008                   261                     241
8   2009                   259                     220
9   2010                   246                     224
10  2011                   260                     220
11  2012                   265                     198
12  2013                   274                     230
13  2014                   274                     262
14  2015                   296                     283
15  2016                   303                     252
16  2017                   323                     246
17  2018                   344                     250

In [30]:
state_fed_deaths_df.sort_values(by=["state mortality rate"], ascending = False)

    Year  state mortality rate  federal mortality rate
17  2018                   344                     250
16  2017                   323                     246
15  2016                   303                     252
14  2015                   296                     283
12  2013                   274                     230
13  2014                   274                     262
11  2012                   265                     198
7   2008                   261                     241
10  2011                   260                     220
8   2009                   259                     220
6   2007                   258                     222
2   2003                   257                     228
3   2004                   251                     210
4   2005                   251                     244
5   2006                   249                     201
9   2010                   246                     224
1   2002                   243                     233
0   2001                   242                     220

In [31]:
state_fed_deaths_df.sort_values(by=["federal mortality rate"], ascending = False)

    Year  state mortality rate  federal mortality rate
14  2015                   296                     283
13  2014                   274                     262
15  2016                   303                     252
17  2018                   344                     250
16  2017                   323                     246
4   2005                   251                     244
7   2008                   261                     241
1   2002                   243                     233
12  2013                   274                     230
2   2003                   257                     228
9   2010                   246                     224
6   2007                   258                     222
10  2011                   260                     220
8   2009                   259                     220
0   2001                   242                     220
3   2004                   251                     210
5   2006                   249                     201
11  2012                   265                     198

In [38]:
state_death_dem_df = pd.read_csv("state_death_dem.csv")

In [39]:
state_death_dem_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 15 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   Year                                                            12 non-null     int64
 1   Total deaths                                                    12 non-null     object
 2   Male                                                            12 non-null     object
 3   Female                                                          12 non-null     int64
 4   White                                                           12 non-null     object
 5   Black                                                           12 non-null     object
 6   Hispanic                                                        12 non-null     int64
 7   American Indian/Alaska Native                                   12 non-null     int64
 8   Asian/Native Hawaiian/Other Pacific Islander/two or more races  12 non-null     int64
 9   17 or younger                                                   12 non-null     int64
 10  18 to 24                                                        12 non-null     int64
 11  25 to 34                                                        12 non-null     int64
 12  35 to 44                                                        12 non-null     int64
 13  45 to 54                                                        12 non-null     object
 14  55 or older                                                     12 non-null     object
dtypes: int64(9), object(6)
memory usage: 1.5+ KB

In [40]:
state_death_dem_df.sort_values(by=["Total deaths"], ascending = False)

,Year,Total deaths,Male,Female,White,Black,Hispanic,American Indian/Alaska Native,Asian/Native Hawaiian/Other Pacific Islander/two or more races,17 or younger,18 to 24,25 to 34,35 to 44,45 to 54,55 or older
11,2018,"4,135","3,954",180,"2,198","1,352",503,48,30,0,66,328,421,776,"2,543"
10,2017,"3,943","3,811",131,"2,156","1,268",437,47,27,1,60,308,405,697,"2,472"
9,2016,"3,729","3,586",143,"2,063","1,201",382,51,29,1,72,246,379,721,"2,298"
8,2015,"3,682","3,533",149,"2,040","1,189",367,52,33,0,68,226,342,795,"2,250"
7,2014,"3,484","3,330",154,"1,921","1,108",368,43,44,2,56,221,335,821,"2,049"
6,2013,"3,478","3,337",141,"1,901","1,104",402,37,33,0,69,221,334,861,"1,993"
1,2008,"3,452","3,289",163,"1,822","1,157",400,36,37,3,67,222,468,"1,063","1,629"
2,2009,"3,417","3,267",150,"1,774","1,199",372,31,27,0,69,210,467,"1,039","1,631"
5,2012,"3,357","3,244",113,"1,789","1,113",379,40,30,0,69,190,360,876,"1,862"
4,2011,"3,351","3,208",143,"1,912","1,037",329,36,25,2,50,200,397,930,"1,771"
3,2010,"3,233","3,116",117,"1,680","1,121",359,36,25,3,69,217,382,956,"1,606"
0,2001,"2,869","2,769",100,"1,340","1,161",322,25,16,2,86,256,656,893,972

In [41]:
state_death_dem_df.sort_values(by=["White"], ascending = False)

,Year,Total deaths,Male,Female,White,Black,Hispanic,American Indian/Alaska Native,Asian/Native Hawaiian/Other Pacific Islander/two or more races,17 or younger,18 to 24,25 to 34,35 to 44,45 to 54,55 or older
11,2018,"4,135","3,954",180,"2,198","1,352",503,48,30,0,66,328,421,776,"2,543"
10,2017,"3,943","3,811",131,"2,156","1,268",437,47,27,1,60,308,405,697,"2,472"
9,2016,"3,729","3,586",143,"2,063","1,201",382,51,29,1,72,246,379,721,"2,298"
8,2015,"3,682","3,533",149,"2,040","1,189",367,52,33,0,68,226,342,795,"2,250"
7,2014,"3,484","3,330",154,"1,921","1,108",368,43,44,2,56,221,335,821,"2,049"
4,2011,"3,351","3,208",143,"1,912","1,037",329,36,25,2,50,200,397,930,"1,771"
6,2013,"3,478","3,337",141,"1,901","1,104",402,37,33,0,69,221,334,861,"1,993"
1,2008,"3,452","3,289",163,"1,822","1,157",400,36,37,3,67,222,468,"1,063","1,629"
5,2012,"3,357","3,244",113,"1,789","1,113",379,40,30,0,69,190,360,876,"1,862"
2,2009,"3,417","3,267",150,"1,774","1,199",372,31,27,0,69,210,467,"1,039","1,631"
3,2010,"3,233","3,116",117,"1,680","1,121",359,36,25,3,69,217,382,956,"1,606"
0,2001,"2,869","2,769",100,"1,340","1,161",322,25,16,2,86,256,656,893,972

In [42]:
percent_state_deaths_dem_df = pd.read_csv("percent_state_deaths_dem.csv")

In [43]:
percent_state_deaths_dem_df

,Year,Male,Female,White,Black,Hispanic,American Indian/Alaska Native,Asian/Native Hawaiian/Other Pacific Islander/two or more races,18 to 24,25 to 34,35 to 44,45 to 54,55 or older
0,2001,96.5,3.5,46.7,40.5,11.2,0.9,0.6,3.0,8.9,22.9,31.1,33.9
1,2008,95.3,4.7,52.8,33.5,11.6,1.0,1.1,1.9,6.4,13.6,30.8,47.2
2,2009,95.6,4.4,51.9,35.1,10.9,0.9,0.8,2.0,6.2,13.7,30.4,47.7
3,2010,96.4,3.6,52.0,34.7,11.1,1.1,0.8,2.1,6.7,11.8,29.6,49.7
4,2011,95.7,4.3,57.1,31.0,9.8,1.1,0.8,1.5,6.0,11.9,27.8,52.9
5,2012,96.6,3.4,53.3,33.2,11.3,1.2,0.9,2.1,5.7,10.7,26.1,55.5
6,2013,96.0,4.1,54.7,31.7,11.6,1.1,1.0,2.0,6.4,9.6,24.8,57.3
7,2014,95.6,4.4,55.1,31.8,10.6,1.2,1.3,1.6,6.3,9.6,23.6,58.8
8,2015,96.0,4.1,55.4,32.3,10.0,1.4,0.9,1.9,6.1,9.3,21.6,61.1
9,2016,96.2,3.8,55.3,32.2,10.2,1.4,0.8,1.9,6.6,10.2,19.3,61.6
10,2017,96.7,3.3,54.7,32.2,11.1,1.2,0.7,1.5,7.8,10.3,17.7,62.7
11,2018,95.6,4.4,53.2,32.7,12.2,1.2,0.7,1.6,7.9,10.2,18.8,61.5

In [89]:
state_death_df = pd.read_csv("raw_death_state.csv")

In [90]:
state_death_df.head()

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory disease,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
0,Alabama,"1,730",404,433,137,38,113,306,46,27,17,63
1,Alaska,179,42,29,17,1,4,24,36,10,9,4
2,Arizona,"1,721",419,455,211,35,96,210,123,87,15,55
3,Arkansas,976,319,264,65,25,48,100,63,52,14,16
4,California,"7,026","1,183","1,728",656,116,512,"1,429",596,402,54,304

In [114]:
state_death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Jurisdiction               50 non-null     object
 1   All causes                 28 non-null     float64
 2   Heart disease              50 non-null     object
 3   Cancer                     50 non-null     object
 4   Liver disease              50 non-null     int64
 5   AIDS-related               50 non-null     int64
 6   Respiratory disease        50 non-null     int64
 7   All other illnesses        50 non-null     object
 8   Suicide                    50 non-null     int64
 9   Drug/alcohol intoxication  50 non-null     int64
 10  Accident                   50 non-null     int64
 11  Homicide                   50 non-null     int64
dtypes: float64(1), int64(7), object(4)
memory usage: 4.8+ KB

In [115]:
state_death_df.sort_values(by=["All causes"], ascending = True)

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory disease,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
33,North Dakota,21.0,4,5,2,1,0,4,4,1,0,0
44,Vermont,74.0,19,15,11,3,1,11,11,3,0,0
18,Maine,82.0,24,24,6,1,6,8,4,2,1,5
49,Wyoming,113.0,42,18,15,1,9,16,9,2,1,0
38,Rhode Island,115.0,27,21,3,5,5,11,27,5,3,1
28,New Hampshire,127.0,27,47,12,3,7,14,12,5,0,0
40,South Dakota,140.0,35,34,18,1,14,13,17,1,4,3
25,Montana,169.0,34,46,26,2,10,26,19,3,1,2
10,Hawaii,176.0,33,46,17,4,8,25,28,4,2,7
1,Alaska,179.0,42,29,17,1,4,24,36,10,9,4
26,Nebraska,212.0,47,50,27,4,11,22,20,6,3,7
22,Minnesota,245.0,51,72,33,1,10,45,27,4,1,1
43,Utah,266.0,63,59,20,0,11,48,41,5,4,9
7,Delaware,287.0,74,65,25,21,14,36,33,6,1,2
11,Idaho,290.0,76,73,24,4,13,44,39,5,5,4
14,Iowa,306.0,67,104,16,5,31,40,34,3,1,2
30,New Mexico,336.0,78,89,56,4,18,41,29,7,1,12
47,West Virginia,394.0,156,104,26,6,17,59,11,3,2,7
15,Kansas,471.0,131,136,51,2,29,67,31,9,8,3
6,Connecticut,491.0,117,69,69,11,27,99,80,5,6,7
36,Oregon,642.0,136,189,87,7,29,81,37,14,7,10
20,Massachusetts,656.0,186,180,61,10,29,92,61,11,11,4
27,Nevada,657.0,154,159,46,9,32,131,40,6,4,12
46,Washington,674.0,153,196,72,9,59,104,48,11,11,8
5,Colorado,854.0,164,178,136,1,61,151,79,39,15,29
48,Wisconsin,857.0,244,275,52,11,69,93,88,13,6,1
16,Kentucky,950.0,323,307,67,30,46,133,25,3,5,6
3,Arkansas,976.0,319,264,65,25,48,100,63,52,14,16
0,Alabama,NaN,404,433,137,38,113,306,46,27,17,63
2,Arizona,NaN,419,455,211,35,96,210,123,87,15,55
4,California,NaN,"1,183","1,728",656,116,512,"1,429",596,402,54,304
8,Florida,NaN,"1,247","1,654",419,310,366,994,197,186,69,158
9,Georgia,NaN,780,597,125,83,187,300,145,12,22,89
12,Illinois,NaN,487,530,83,65,96,222,137,15,16,18
13,Indiana,NaN,336,336,106,23,84,180,87,50,18,32
17,Louisiana,NaN,611,564,152,110,98,269,42,10,23,9
19,Maryland,NaN,278,232,83,109,48,122,82,66,9,51
21,Michigan,NaN,681,783,170,39,132,245,134,42,25,27
23,Mississippi,NaN,390,265,48,24,52,151,58,5,13,33
24,Missouri,NaN,422,476,159,26,91,227,72,37,9,24
29,New Jersey,NaN,329,244,60,83,62,137,53,25,10,14
31,New York,NaN,726,784,197,221,127,246,247,61,34,30
32,North Carolina,NaN,476,571,131,75,114,220,68,13,26,19
34,Ohio,NaN,654,801,120,34,177,316,134,24,8,33
35,Oklahoma,NaN,424,400,169,30,89,204,92,46,32,65
37,Pennsylvania,NaN,802,848,244,38,182,531,169,23,16,21
39,South Carolina,NaN,499,281,81,36,54,198,79,17,7,61
41,Tennessee,NaN,470,426,158,43,77,201,77,38,13,39
42,Texas,NaN,"2,015","2,039",816,173,632,"1,619",527,39,79,83
45,Virginia,NaN,450,565,157,55,87,223,65,28,10,15

In [124]:
state_death_df[list(state_death_df.columns)[1]] = \
state_death_df[list(state_death_df.columns)[1]].apply(pd.to_numeric, errors="coerce")

In [125]:
state_death_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Jurisdiction               50 non-null     object
 1   All causes                 28 non-null     float64
 2   Heart disease              50 non-null     object
 3   Cancer                     50 non-null     object
 4   Liver disease              50 non-null     int64
 5   AIDS-related               50 non-null     int64
 6   Respiratory disease        50 non-null     int64
 7   All other illnesses        50 non-null     object
 8   Suicide                    50 non-null     int64
 9   Drug/alcohol intoxication  50 non-null     int64
 10  Accident                   50 non-null     int64
 11  Homicide                   50 non-null     int64
dtypes: float64(1), int64(7), object(4)
memory usage: 4.8+ KB

In [126]:
state_death_df.sort_values(by=["All causes"], ascending = True)

,Jurisdiction,All causes,Heart disease,Cancer,Liver disease,AIDS-related,Respiratory disease,All other illnesses,Suicide,Drug/alcohol intoxication,Accident,Homicide
33,North Dakota,21.0,4,5,2,1,0,4,4,1,0,0
44,Vermont,74.0,19,15,11,3,1,11,11,3,0,0
18,Maine,82.0,24,24,6,1,6,8,4,2,1,5
49,Wyoming,113.0,42,18,15,1,9,16,9,2,1,0
38,Rhode Island,115.0,27,21,3,5,5,11,27,5,3,1
28,New Hampshire,127.0,27,47,12,3,7,14,12,5,0,0
40,South Dakota,140.0,35,34,18,1,14,13,17,1,4,3
25,Montana,169.0,34,46,26,2,10,26,19,3,1,2
10,Hawaii,176.0,33,46,17,4,8,25,28,4,2,7
1,Alaska,179.0,42,29,17,1,4,24,36,10,9,4
26,Nebraska,212.0,47,50,27,4,11,22,20,6,3,7
22,Minnesota,245.0,51,72,33,1,10,45,27,4,1,1
43,Utah,266.0,63,59,20,0,11,48,41,5,4,9
7,Delaware,287.0,74,65,25,21,14,36,33,6,1,2
11,Idaho,290.0,76,73,24,4,13,44,39,5,5,4
14,Iowa,306.0,67,104,16,5,31,40,34,3,1,2
30,New Mexico,336.0,78,89,56,4,18,41,29,7,1,12
47,West Virginia,394.0,156,104,26,6,17,59,11,3,2,7
15,Kansas,471.0,131,136,51,2,29,67,31,9,8,3
6,Connecticut,491.0,117,69,69,11,27,99,80,5,6,7
36,Oregon,642.0,136,189,87,7,29,81,37,14,7,10
20,Massachusetts,656.0,186,180,61,10,29,92,61,11,11,4
27,Nevada,657.0,154,159,46,9,32,131,40,6,4,12
46,Washington,674.0,153,196,72,9,59,104,48,11,11,8
5,Colorado,854.0,164,178,136,1,61,151,79,39,15,29
48,Wisconsin,857.0,244,275,52,11,69,93,88,13,6,1
16,Kentucky,950.0,323,307,67,30,46,133,25,3,5,6
3,Arkansas,976.0,319,264,65,25,48,100,63,52,14,16
0,Alabama,NaN,404,433,137,38,113,306,46,27,17,63
2,Arizona,NaN,419,455,211,35,96,210,123,87,15,55
4,California,NaN,"1,183","1,728",656,116,512,"1,429",596,402,54,304
8,Florida,NaN,"1,247","1,654",419,310,366,994,197,186,69,158
9,Georgia,NaN,780,597,125,83,187,300,145,12,22,89
12,Illinois,NaN,487,530,83,65,96,222,137,15,16,18
13,Indiana,NaN,336,336,106,23,84,180,87,50,18,32
17,Louisiana,NaN,611,564,152,110,98,269,42,10,23,9
19,Maryland,NaN,278,232,83,109,48,122,82,66,9,51
21,Michigan,NaN,681,783,170,39,132,245,134,42,25,27
23,Mississippi,NaN,390,265,48,24,52,151,58,5,13,33
24,Missouri,NaN,422,476,159,26,91,227,72,37,9,24
29,New Jersey,NaN,329,244,60,83,62,137,53,25,10,14
31,New York,NaN,726,784,197,221,127,246,247,61,34,30
32,North Carolina,NaN,476,571,131,75,114,220,68,13,26,19
34,Ohio,NaN,654,801,120,34,177,316,134,24,8,33
35,Oklahoma,NaN,424,400,169,30,89,204,92,46,32,65
37,Pennsylvania,NaN,802,848,244,38,182,531,169,23,16,21
39,South Carolina,NaN,499,281,81,36,54,198,79,17,7,61
41,Tennessee,NaN,470,426,158,43,77,201,77,38,13,39
42,Texas,NaN,"2,015","2,039",816,173,632,"1,619",527,39,79,83
45,Virginia,NaN,450,565,157,55,87,223,65,28,10,15